header {
    position: sticky !important;
    top: 0;
    background-color: var(--bodi);
    /* box-shadow: 0 50px 30px rgba(0, 0, 0, .2); */
    /* box-shadow: 0 50px 30px rgb(0 22 84 / 10%); */
    /* padding: 15px 0; */
    /* z-index: 999; */
    z-index: 5;
    transition: translate var(--trans), opacity var(--trans);
}

.admin-header .org-name,
.admin-header .nav-actions > button {
    color: var(--bs-gray-600);
}

@media screen and (min-width: 768px) {
    .admin-header .org-name {
        color: var(--bs-gray-200);
    }
}

@media screen and (max-width: 768px) {
    header.dom-scrolling-down {
        translate: 0 -20%;
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    header.dom-scrolling-down {
        translate: 0 -20%;
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    .admin-header .navbar-brand {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../../../public/images/saving_illustration_fancy1.webp');
        /* background-position: 44.7% 0%; */
        background-position: 45% 39%;
    }
}


header .logo {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

header .nav.navbar-nav li {
    position: relative;
}

header .nav.navbar-nav li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 2px;
    background-color: var(--primaryColor);
    border-radius: 100vw;
    animation: flyInBottom .2s 1;
    /* z-index: -1; */
}

header a {
    display: inline-block;
    text-decoration: none;
    transition: var(--trans);
}

header a {
    color: var(--bs-gray-700);
}

header a:hover {
    color: goldenrod;
}


header .nav.navbar-nav .nav-item .dropdown-menu {
    border: 0;
    animation: flyInTop .2s 1;
}

header .nav.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
}