/* @media screen and (max-width: 992px) {
    .login-form-wrapper {
        height: 100vh;
        height: 100dvh;
    }
} */

@media screen and (max-width: 992px) {
    .login-form-wrapper {
        clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
        margin-top: -40px;
    }

    .login-hero-wrapper {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
    }
}

@media screen and (min-width: 992px) {
    .login-hero-wrapper {
        overflow: hidden;
    }
}

.welcome-list li {
    animation: slideInLeft 1s 1;
}

.welcome-list li:not(:last-child) {
    border-bottom: 1px solid var(--white3);
}